*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* poniendo elemento de body al centro */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* section al centro */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

/* LIBRO */
section .book{
    position: relative;
    width: 383px;
    height: 567px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0,0.2);
    
    transform-style: preserve-3d;
    transition: 0.5;
}


section .book img{
    position: absolute;
    /* acomodando el libro dentro de .book h y w */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* une la cara con el lado izquierdo y lo rota 90 grados hacia adentro */
section .book::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    transform-origin: left;
    background: url("images/side.jpg");
    background-position: center;
    transform: rotateY(90deg);
}

/* cuando se hace hover se puede ver el lado izquierdo unido con la cara */
section .book:hover{
    transform: rotateY(35deg);
}